# Ignore hidden directories and temporary files
.git/
.venv/

# Ignore temporary files created by editors
*~
*.swp

# Ignore any log files
*.log

# Ignore a specific file created by the ml app
model.joblib